<div class="p-8 mx-auto space-y-3 w-[26rem]">
  <div class="flex items-center justify-between mb-10">
    <span class="uppercase text-lg font-semibold tracking-wider text-black">{{initialTask ? "Edit Task" : "New Task"}}</span>
    <div class="flex justify-end">
      <button class="px-4 py-2" [ngClass]="taskForm.value.status === 'Open' ? 'bg-orange-500 text-white' : 'bg-gray-200'" (click)="handleStatusChange('Open')">Open</button>
      <button class="px-4 py-2" [ngClass]="taskForm.value.status === 'Closed' ? 'bg-orange-500 text-white' : 'bg-gray-200'" (click)="handleStatusChange('Closed')">Closed</button>
    </div>
  </div>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <input type="text" placeholder="Entity name" class="mt-1 block w-full rounded-md shadow-sm focus:ring-indigo-500 outline-none bg-gray-100 p-4 focus:border-indigo-500 sm:text-sm" formControlName="entityName">
      <div *ngIf="taskForm.get('entityName')?.invalid && taskForm.get('entityName')?.touched" class="text-red-500 text-sm mt-1">Entity name is required.</div>
    </div>
    <div class="mb-4 flex md:flex-row flex-col items-center justify-between gap-2">
      <input type="date" placeholder="Date" class="mt-1 w-full block rounded-md shadow-sm focus:ring-indigo-500 outline-none bg-gray-100 p-4 focus:border-indigo-500 sm:text-sm" formControlName="date">
      <div *ngIf="taskForm.get('date')?.invalid && taskForm.get('date')?.touched" class="text-red-500 text-sm mt-1">Date is required.</div>
      <input type="time" placeholder="Time" class="mt-1 w-full block rounded-md shadow-sm focus:ring-indigo-500 outline-none bg-gray-100 p-4 focus:border-indigo-500 sm:text-sm" formControlName="time">
    </div>
    <div class="mb-4">
      <select class="mt-1 block w-full rounded-md shadow-sm focus:ring-indigo-500 outline-none bg-gray-100 p-4 focus:border-indigo-500 sm:text-sm" formControlName="taskType">
        <option value="Call">Call</option>
        <option value="Meeting">Meeting</option>
        <option value="Video Call">Video Call</option>
      </select>
    </div>
    <div class="mb-4">
      <input type="text" placeholder="Contact person" class="mt-1 block w-full rounded-md shadow-sm focus:ring-indigo-500 outline-none bg-gray-100 p-4 focus:border-indigo-500 sm:text-sm" formControlName="contactPerson">
      <div *ngIf="taskForm.get('contactPerson')?.invalid && taskForm.get('contactPerson')?.touched" class="text-red-500 text-sm mt-1">Contact person is required.</div>
    </div>
    <div class="mb-4">
      <textarea placeholder="Notes (optional)" class="mt-1 resize-none block w-full rounded-md shadow-sm focus:ring-indigo-500 outline-none bg-gray-100 p-4 focus:border-indigo-500 sm:text-sm" formControlName="note" cols="5" rows="4"></textarea>
    </div>
    <div class="flex justify-between">
      <div>
        <button *ngIf="initialTask.length > 2" type="button" (click)="handleDelete()" class="md:px-8 px-5 py-2 active:scale-95 bg-red-600 text-white rounded-sm flex items-center justify-center gap-2">Delete</button>
      </div>
      <div class="flex items-center">
        <button (click)="onClose()" type="button" class="mr-4 border border-slate-500 md:px-8 px-5 py-2 rounded-sm">Cancel</button>
        <button type="submit" class="md:px-8 px-5 py-2 active:scale-95 bg-[#004b6e] flex items-center justify-center gap-2 text-white rounded-sm">Save</button>
      </div>
    </div>
  </form>
</div>
