.table-container table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}
.table-container th {
    border: none;
    font-size: 0.9rem;
}

.table-container td {
    border: none;
}


.date{
    width: 100px;
}

.responsive-table {
    width: 100%;
    table-layout: fixed;
}

