<div class="mat-elevation-z8">
    <div class="mb-4 p-4 px-6 flex md:flex-row flex-col space-y-3 md:space-y-0 md:items-center justify-between w-full bg-gray-200">
        <div class="flex items-center justify-start gap-4 md:gap-10">
            <span class="text-md font-semibold uppercase tracking-wider">Sales Log</span>
            <button (click)="openTaskForm()" class="active:scale-95 text-blue border-2 text-sm font-medium border-gray-500 p-1 px-3 flex items-center justify-center gap-2">
                <mat-icon fontIcon="add"></mat-icon> New Task
            </button>
        </div>
        <div class="relative filter-container md:w-[50%]">
            <input class="w-full rounded-md p-2 text-sm px-8 outline-none" matInput (keyup)="applyFilter($event)" placeholder="Search Entity Name, Contact Person & Notes ">
            <mat-icon class="absolute left-[0.36rem] text-[1.2rem] text-gray-400 top-2" fontIcon="search"></mat-icon>
        </div>
    </div>
  
    <div class="table-container h-[26rem] overflow-x-auto p-2">
        <div class="text-sm p-4">
            <span class="flex items-center justify-start gap-1">
                Use the icon
                <mat-icon class="text-lg -mr-2 text-gray-700" fontIcon="filter_alt"></mat-icon>
                next to the table titles to apply filters
            </span>
        </div>
  
        <!-- Table Header -->
        <table mat-table [dataSource]="dataSource" matSort class="responsive-table">
            <ng-container matColumnDef="date">
                <th class="text-gray-500 w-[120px]" mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            </ng-container>
            <ng-container matColumnDef="entityName">
                <th class="text-gray-500 w-[250px]" mat-header-cell *matHeaderCellDef mat-sort-header>

                    <div class="flex items-center justify-start">
                        Entity Name
                    <span mat-button [matMenuTriggerFor]="menu" #menuTrigger class="cursor-pointer bg-transparent ml-1 flex items-center justify-center">
                        <mat-icon class="text-gray-500 text-[1.2rem] mt-1 bg-transparent" fontIcon="filter_alt"></mat-icon>
                    </span>
                    <mat-menu xPosition="after" #menu="matMenu" class="my-class">
                        <div mat-dialog-content (click)="$event.stopPropagation();"  class="flex font-normal flex-col items-center justify-start text-left p-2 px-4">
                          <span class="mb-3 uppercase text-gray-700  font-medium border-b w-full pb-2">Entity Name</span>
                          <div class="flex flex-col items-start justify-start gap-3 px-1">
                            <div class="flex items-center justify-start">
                                <input class="w-full border rounded-md p-2 text-sm outline-none" matInput (keyup)="onEntitySearch($event)" placeholder="Search Entity Name ">
                            </div>
                           
                          </div>
                        </div>
                      </mat-menu>  
                    </div>


                </th>
            </ng-container>
            <ng-container matColumnDef="taskType">
                <th class="whitespace-nowrap text-gray-500 w-[130px]" mat-header-cell *matHeaderCellDef>

                    <div class="flex items-center justify-start">
                        Task Type
                    <span mat-button [matMenuTriggerFor]="menu" #menuTrigger class="cursor-pointer bg-transparent ml-1 flex items-center justify-center">
                        <mat-icon class="text-gray-500 text-[1.2rem] mt-1 bg-transparent" fontIcon="filter_alt"></mat-icon>
                    </span>
                    <mat-menu xPosition="after" #menu="matMenu" class="my-class">
                        <div mat-dialog-content (click)="$event.stopPropagation();"  class="flex font-normal flex-col items-center justify-start text-left p-2 px-4">
                          <span class="mb-3 uppercase text-gray-700  font-medium border-b w-full pb-2">Task Type</span>
                          <div class="flex flex-col items-start justify-start gap-3 px-1">
                            <div class="flex items-center justify-start">
                                <input (change)="onTaskTypeChange('Call',$event)" type="checkbox" id="call"  />
                                <label class="ml-3 flex items-center justify-start" for="call"> <mat-icon fontIcon="call" class="text-sm mt-1"></mat-icon> Call</label>
                            </div>
                            <div class="flex items-center justify-start">
                                <input (change)="onTaskTypeChange('Meeting',$event)" type="checkbox" id="meeting"  />
                                <label class="ml-3 flex items-center justify-start" for="meeting"> <mat-icon fontIcon="place" class="text-sm mt-1"></mat-icon> Meeting</label>
                            </div>
                            <div class="flex items-center justify-start">
                                <input (change)="onTaskTypeChange('Video Call',$event)" type="checkbox" id="videocall"  />
                                <label class="ml-3 flex items-center justify-start" for="videocall"> <mat-icon fontIcon="videocam" class="text-sm mt-1"></mat-icon> Call</label>
                            </div>

                          </div>
                        </div>
                      </mat-menu>  
                    </div>


                </th>
            </ng-container>
            <ng-container matColumnDef="time">
                <th class="text-gray-500 w-[120px]" mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
            </ng-container>
            <ng-container matColumnDef="contactPerson">
                <th class="whitespace-nowrap text-gray-500 w-[180px]" mat-header-cell *matHeaderCellDef mat-sort-header>

                    <div class="flex items-center justify-start">
                        Contact Person
                    <span mat-button [matMenuTriggerFor]="menu" #menuTrigger class="cursor-pointer bg-transparent ml-1 flex items-center justify-center">
                        <mat-icon class="text-gray-500 text-[1.2rem] mt-1 bg-transparent" fontIcon="filter_alt"></mat-icon>
                    </span>
                    <mat-menu xPosition="after" #menu="matMenu" class="my-class">
                        <div mat-dialog-content (click)="$event.stopPropagation();"  class="flex font-normal flex-col items-center justify-start text-left p-2 px-4">
                          <span class="mb-3 uppercase text-gray-700  font-medium border-b w-full pb-2">Contact Person</span>
                          <div class="flex flex-col items-start justify-start gap-3 px-1">
                            <div class="flex items-center justify-start">
                                <input class="w-full rounded-md p-2 text-sm border outline-none" matInput (keyup)="onContactSearch($event)" placeholder="Search Contact Person ">
                            </div>
                           
                          </div>
                        </div>
                      </mat-menu>  
                    </div>



                </th>
            </ng-container>
            <ng-container matColumnDef="notes">
                <th class="text-gray-500 w-[250px]" mat-header-cell *matHeaderCellDef mat-sort-header>

                    <div class="flex items-center justify-start">
                        Notes
                    <span mat-button [matMenuTriggerFor]="menu" #menuTrigger class="cursor-pointer bg-transparent ml-1 flex items-center justify-center">
                        <mat-icon class="text-gray-500 text-[1.2rem] mt-1 bg-transparent" fontIcon="filter_alt"></mat-icon>
                    </span>
                    <mat-menu xPosition="after" #menu="matMenu" class="my-class">
                        <div mat-dialog-content (click)="$event.stopPropagation();"  class="flex font-normal flex-col items-center justify-start text-left p-2 px-4">
                          <span class="mb-3 uppercase text-gray-700  font-medium border-b w-full pb-2">Notes</span>
                          <div class="flex flex-col items-start justify-start gap-3 px-1">
                            <div class="flex items-center justify-start">
                                <input class="w-full rounded-md p-2 text-sm border outline-none" matInput (keyup)="onNotesSearch($event)" placeholder="Search Notes">
                            </div>
                          </div>
                        </div>
                      </mat-menu>  
                    </div>
                </th>
            </ng-container>
            <ng-container matColumnDef="status">
                <th class="text-gray-500 w-[200px]" mat-header-cell *matHeaderCellDef mat-sort-header>

                    <div class="flex items-center justify-start">
                        Status
                    <span mat-button [matMenuTriggerFor]="menu" #menuTrigger class="cursor-pointer bg-transparent ml-1 flex items-center justify-center">
                        <mat-icon class="text-gray-500 text-[1.2rem] mt-1 bg-transparent" fontIcon="filter_alt"></mat-icon>
                    </span>
                    <mat-menu xPosition="after" #menu="matMenu" class="my-class">
                        <div mat-dialog-content (click)="$event.stopPropagation();"  class="flex font-normal flex-col items-center justify-start text-left p-2 px-4">
                          <span class="mb-3 uppercase text-gray-700  font-medium border-b w-full pb-2">Status</span>
                          <div class="flex flex-col items-start justify-start gap-3 px-1">
                            <div class="flex items-center justify-start">
                                <input (change)="onStatusChange('Open',$event)" type="checkbox" id="open"  />
                                <label class="ml-3 flex items-center justify-start" for="open">Open </label>
                            </div>
                            <div class="flex items-center justify-start">
                                <input (change)="onStatusChange('Closed',$event)" type="checkbox" id="closed"  />
                                <label class="ml-3 flex items-center justify-start" for="closed">Closed</label>
                            </div>
                           

                          </div>
                        </div>
                      </mat-menu>  
                    </div>

                </th>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </table>
  
        <!-- Grouped Tasks Rows -->
        <div class="" *ngFor="let group of groupedTasks">
            <div class="date-header flex w-[78rem]  justify-start bg-transparent items-center gap-3 px-4 text-[0.79rem]">
              <span class="text-gray-800 font-bold">{{ group.taskDate | dateformat }}</span>
              <span class="text-gray-500">{{ group.dateLabel }}</span>
                <span class="text-gray-500 ml-1">{{ group.openCount }} Open</span>
                <span class="flex-1  h-[1.3px] ml-3 pl-1 bg-gray-300 "></span>
            </div>
            
            <table mat-table [dataSource]="group.tasks" matSort class="responsive-table">
                <ng-container matColumnDef="date">
                    <td class="w-[120px]" mat-cell *matCellDef="let task">{{ task.createdAt | dateformat }}</td>
                </ng-container>
                <ng-container matColumnDef="entityName">
                    <td class="text-blue font-medium w-[250px]" mat-cell *matCellDef="let task">{{ task.entityName }}</td>
                </ng-container>
                <ng-container matColumnDef="taskType">
                    <td class="whitespace-nowrap w-[130px]" mat-cell *matCellDef="let task">
                        <span class="flex items-center justify-start gap-1">
                            <mat-icon class="text-[1.1rem] -mb-1 text-gray-700" *ngIf="task.taskType === 'Meeting'" fontIcon="place"></mat-icon>
                            <mat-icon class="text-[1.1rem] -mb-1 text-gray-700" *ngIf="task.taskType === 'Video Call'" fontIcon="videocam"></mat-icon>
                            <mat-icon class="text-[1.1rem] -mb-1 text-gray-700" *ngIf="task.taskType === 'Call'" fontIcon="call"></mat-icon>
                            {{ task.taskType }}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="time">
                    <td class="w-[120px]" mat-cell *matCellDef="let task">{{ task.time }}</td>
                </ng-container>
                <ng-container matColumnDef="contactPerson">
                    <td class="w-[180px]" mat-cell *matCellDef="let task">{{ task.contactPerson }}</td>
                </ng-container>
                <ng-container matColumnDef="notes">
                    
                    <td class="w-[250px]" mat-cell *matCellDef="let task">
                        @if (task.note ==="") {
                            <button (click)="openAddNoteForm(task)" class="active:scale-95 text-blue border-2 text-xs font-medium border-gray-500 px-2 flex items-center justify-center">
                                <mat-icon class="text-[1.1rem] text-blue/[0.9] mt-[0.29rem]" fontIcon="add"></mat-icon> Add Note
                            </button>
                        }
                        @else {
                            
                            {{ task.note | truncate:40 }}
                        }
                            
                    </td>

                </ng-container>
                <ng-container matColumnDef="status">
                    <td class="w-[200px]" mat-cell *matCellDef="let task">
                        <div class="flex items-center justify-between gap-5 relative">
                            <span (mouseenter)="showTooltip($event, task)" (mouseleave)="hideTooltip()" 
                                [ngClass]="{'text-blue-700': task.status === 'Closed', 'text-red-700': task.status === 'Open'}"
                                class="cursor-pointer decoration-dotted underline underline-offset-4">{{ task.status }}</span>
  
                            <span mat-button [matMenuTriggerFor]="menu" #menuTrigger class="cursor-pointer bg-gray-100 p-1 px-3 flex items-center justify-center">
                                Options
                                <mat-icon class="text-gray-700" fontIcon="expand_more"></mat-icon>
                            </span>
                            <mat-menu xPosition="before" #menu="matMenu" class="my-class">
                                <div mat-dialog-content class="flex font-normal flex-col items-center justify-start text-left p-2 px-3">
                                    <span class="mb-3 uppercase font-medium border-b w-full pb-2">Options</span>
                                    <div class="flex flex-col items-start justify-start gap-3 px-1">
                                        <button (click)="onOptionEdit(task, 'edit')">Edit</button>
                                        <button (click)="onOptionEdit(task, 'duplicate')">Duplicate</button>
                                        <button (click)="onOptionEdit(task, 'change')">
                                            {{ task.status === 'Open' ? 'Change Status to Closed' : 'Change Status to Open' }}
                                        </button>
                                    </div>
                                </div>
                            </mat-menu>
                        </div>
                        <app-tool-tip [status]="status" [visible]="tooltipVisible" [top]="tooltipTop" [left]="tooltipLeft"></app-tool-tip>
                    </td>
                </ng-container>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
  </div>
  